@model List<BlackJack.Models.Game>

@{
    ViewData["Title"] = "HighScores";
}

@if (Model.Count == 0)
{
    <h3 class="text-center">Sem jogadores registados...</h3>
}
else
{
    <table class="table table-hover text-center background">
        <thead>
            <tr>
                <th> Nome</th>
                <th> Rondas </th>
                <th class="text-success"> Vitórias </th>
                <th class="text-warning">Empates </th>
                <th class="text-danger">Derrotas</th>
                <th> BlackJack</th>
                <th> Créditos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BlackJack.Models.Game p in Model.Take(10))
            {
                <tr>
                    <td> @p.PlayerName</td>
                    <td> @p.Rounds </td>
                    <td> @p.Wins</td>
                    <td> @p.Ties</td>
                    <td> @p.Loses </td>
                    <td> @p.BlackJack </td>
                    <td> @p.Credits </td>
                </tr>
            }
        </tbody>
    </table>
}

