@model List<BlackJack.Models.Game>

@{
    ViewData["Title"] = "HighScores";
}



<table class="table">
    <thead>
        <tr>
            <th> # </th>
            <th> Nome</th>
            <th> Rondas </th>
            <th> V/E/D</th>
            <th> BlackJack</th>
            <th> Créditos</th>



        </tr>
    </thead>
    <tbody>
        @foreach (BlackJack.Models.Game p in Model)
        {
            int nmr = 0;

            <tr>
                <td> @ </td>
                <td> @p.NomeJogador</td>
                <td> @p.Rondas </td>
                <td> @p.Vitorias<strong>/</strong>@p.Empates<strong>/</strong>@p.Derrotas </td>
                <td> @p.BlackJack </td>
                <td> @p.Creditos </td>

            </tr>
        }


    </tbody>

</table>

