@model List<BlackJack.Models.Game>

@{
    ViewData["Title"] = "HighScores";
}

<table class="table text-center">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Rondas </th>
            <th> Vitórias </th>
            <th>Empates </th>
            <th>Derrotas</th>
            <th> BlackJack</th>
            <th> Créditos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlackJack.Models.Game p in Model)
        {
            <tr>
                <td> @p.PlayerName</td>
                <td> @p.Rounds </td>
                <td> @p.Wins</td>
                <td> @p.Ties</td>
                <td> @p.Loses </td>
                <td> @p.BlackJack </td>
                <td> @p.Credits </td>
            </tr>
        }
    </tbody>
</table>

