@model BlackJack.Models.Game
@{
    ViewBag.Jogo = true;
    ViewBag.BodyCLass = "Jogo";
}

@if (Model.EmRonda == true)
{
    <div class="container">
        <div class="row dealerrow">
            <div class="col-md-4">
                <div class="playingCards baralho">
                    <ul class="deck">
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 container dealerhand">
                <div class="playingCards rotateHand faceImages">
                    <ul class="hand">
                        <li><div class="card back"></div></li>
                        <li>
                            <div class="card rank-a spades">
                                <span class="rank">A</span>
                                <span class="suit">&spades;</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">
                <div class="container well wellsize">
                    <p><strong><span class="glyphicon glyphicon-exclamation-sign"></span>   Ronda @Model.NumeroRonda</strong></p>
                    <strong>Dealer:</strong> 1 ou 11
                </div>
            </div>
        </div>

        <div class="row playerrow">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
                <div class="playingCards rotateHand faceImages">
                    <ul class="table">
                        <li>
                            <div class="card rank-10 spades">
                                <span class="rank">10</span>
                                <span class="suit">&spades;</span>
                            </div>
                        </li>
                        <li>
                            <div class="card rank-j hearts">
                                <span class="rank">J</span>
                                <span class="suit">&hearts;</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">
                <div class="container well wellsize">
                    <p><strong><span class="glyphicon glyphicon-user"></span>   @Model.NomeJogador</strong></p>
                    <p><strong>Créditos:</strong> @Model.CreditosJogador</p>
                    <p><strong>Aposta:</strong> @Model.Aposta</p>
                    <p><strong>Pontos:</strong> 21</p>
                </div>
            </div>
        </div>


        <div class="row btnrow">
            <div class="col-md-3"></div>

            <div class="col-md-5">
                <button class="btn btn-success btn-large roundbtn"><span class="glyphicon glyphicon-plus"></span> Hit</button>
                <button class="btn btn-primary btn-large roundbtn"><span class="glyphicon glyphicon-pause"></span> Stand</button>
                <button class="btn btn-warning btn-large roundbtn"><span class="glyphicon glyphicon-refresh"></span> Double</button>
                <button class="btn btn-danger btn-large roundbtn"><span class="glyphicon glyphicon-remove"></span> Surrender</button>

                <div class="col-md-4">  </div>

            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <div class="row dealerrow">
            <div class="col-md-3">
                <div class="playingCards baralho">
                    <ul class="deck">
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                        <li><div class="card back"></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 container">
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row playerrow">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="container well wellsize">
                    <h3>Introduz a tua aposta!</h3>
                    <form asp-action="PlayGame" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group text-center">
                            <input asp-for="Aposta" class="form-control center-block" />
                        </div>
                        <div class="form-group text-center">
                            <input asp-for="NomeJogador" value="@Model.NomeJogador" hidden />
                            <input asp-for="CreditosJogador" value="@Model.CreditosJogador" hidden />
                            <input asp-for="NumeroRonda" value="@Model.NumeroRonda" hidden />
                        </div>
                        <button type="submit" class="btn btn-warning center-block">Apostar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="container well wellsize">
                            <p><strong><span class="glyphicon glyphicon-user"></span>   @Model.NomeJogador</strong></p>
                            <p><strong>Créditos:</strong> @Model.CreditosJogador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



